@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Bleakwind Buffet</h1>
    <p class="description">
        We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim.
        Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas.
        Hack into a Smokehouse Skeleton with your dagger. Or vanquish the the mighty Thalmor Triple Burger!
        You’ve had a hard adventure and earned your loot, so spend it with us!.
    </p>
    <div class="main-container">
            <form class="sidebar">
                <div class="search-setting">
                    <label class="filter-title"><strong>Search</strong></label>
                    <div class="type-checkbox">
                        <input type="text" placeholder="text" value="@Model.Text" name="text" />
                    </div>
                </div>
                <div class="search-setting">
                    <label class="filter-title"><strong>Type</strong></label>
                    <div class="type-checkbox">
                        <div><input type="checkbox" name="ItemType" value="Entrees" checked="@Model.ItemType.Contains("Entrees")" /><label>&nbsp; Entrees</label></div>
                        <div><input type="checkbox" name="ItemType" value="Drinks" checked="@Model.ItemType.Contains("Drinks")" /><label>&nbsp; Drinks</label></div>
                        <div><input type="checkbox" name="ItemType" value="Sides" checked="@Model.ItemType.Contains("Sides")" /><label>&nbsp; Side</label></div>
                    </div>
                </div>
                <div class="search-setting">
                    <label class="filter-title"><strong>Calories</strong></label>
                    <div class="number-filter">
                        <input type="number" name="CalMin" placeholder="min" min="0" step="25" value="@Model.CalMin" />
                        <input type="number" name="CalMax" placeholder="max" min="0" step="25" value="@Model.CalMax" />
                    </div>
                </div>
                <div class="search-setting">
                    <label class="filter-title"><strong>Price</strong></label>
                    <div class="number-filter">
                        <input type="number" name="PriceMin" placeholder="min" min="0" step="0.25" value="@Model.PriceMin" />
                        <input type="number" name="PriceMax" placeholder="max" min="0" step="0.25" value="@Model.PriceMax" />
                    </div>
                </div>
                <br />
                <input class="search-button" type="submit" value="Search"/>
            </form>
        <div class="item-container">
            @if (Model.items["Entrees"].Any(x => x.Value.Count != 0))
            { 
                <div class="type-container">
                    <h2 class="item-title">Entrees</h2>
                        @foreach (var kv in Model.items["Entrees"])
                        {
                            @if (kv.Value.Count != 0)
                            {
                                <div class="menu-item">
                                    <p class="item-name">@kv.Key</p>
                                    @foreach (BleakwindBuffet.Data.Entrees.Entree item in kv.Value)
                                    {
                                        <div class="item-info">
                                            <p>$@item.Price | @item.Calories cal</p>
                                        </div>
                                    }
                                    <p class="item-info description">@kv.Value.First().Description</p>
                                </div>
                            }
                        }
                </div>
            }
            @if (Model.items["Drinks"].Any(x => x.Value.Count != 0))
            {
                <div class="type-container">
                    <h2 class="item-title">Drinks</h2>
                        @foreach (var kv in Model.items["Drinks"])
                        {
                            @if (kv.Value.Count != 0)
                            {
                                <div class="menu-item">
                                    <p class="item-name">@kv.Key</p>
                                    @foreach (BleakwindBuffet.Data.Drinks.Drink item in kv.Value)
                                    {
                                        <div class="item-info">
                                            <h4>@item.Size</h4><div> -> </div><p>$@item.Price | @item.Calories cal</p>
                                        </div>
                                    }
                                    <p class="item-info description">@kv.Value.First().Description</p>
                                </div>
                            }
                        }
                </div>
            }
            @if (Model.items["Sides"].Any(x => x.Value.Count != 0))
            {
                <div class="type-container">
                    <h2 class="item-title">Sides</h2>
                        @foreach (var kv in Model.items["Sides"])
                        {
                            @if (kv.Value.Count != 0)
                            {
                                <div class="menu-item">
                                    <p class="item-name">@kv.Key</p>
                                    @foreach (BleakwindBuffet.Data.Sides.Side item in kv.Value)
                                    {
                                        <div class="item-info">
                                            <h4>@item.Size</h4><div> -> </div><p>$@item.Price | @item.Calories cal</p>
                                        </div>
                                    }
                                    <p class="item-info description">@kv.Value.First().Description</p>
                                </div>
                            }
                        }
                </div>
            }
            <div class="type-container flavor-container">
                <h2 class="type-title">Sailor Soda Flavors</h2>
                @foreach (var flavor in Enum.GetValues(typeof(BleakwindBuffet.Data.Enums.SodaFlavor)))
                {
                    <p class="type-container">@flavor</p>
                }
            </div>
        </div>
    </div>

    <div class="ad">
        <h3>! COMBO DEAL !</h3>
        <p><strong>Combine any side, entree, and drink for a $1 discount!</strong></p>
    </div>
</div>

<style>

    .search-setting {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .description {
        border-top: solid gray 1px;
        text-align: left;
        margin-bottom: 0;
    }

    .item-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 4;
        padding: 10px 20px 0 20px;
    }

    .item-info > * {
        margin-bottom: 5px;
    }

    @@media (max-width: 490px){
        .item-container {
            flex-direction: column;
        }

        .main-container {
            flex-direction: column !important;
        }
        .sidebar {
            align-items: center !important;
        }
    }
    .type-container {
        padding: 10px;
        margin: 10px;
        display: flex;
        flex-direction: column;
    }

    .item-title {
        border-bottom: 1px solid red;
    }

    .ad {
        border: 2px solid black;
        background: red;
        color: white;
    }

    .description {
        text-align: left;
    }

    .flavor-container {
        background: lightgray;
        border: solid 2px black;
        max-height: 515px;
        color: darkslategrey;
    }

    .flavor-container > h2 {
        color: black;
    }

    .menu-item {
        border: solid 2px gray;
        padding: 5px;
        margin: 5px;
        min-width: 140px;
    }

    .menu-item > h2 {
        border-bottom: solid 
    }

    .item-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 10px;
    }

    .item-info > p {
        text-align: right;
    }

    .item-info > h4 {
        text-align: left;
        font-size: 10px;
        overflow: hidden;
    }

    .item-name {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .main-container {
        display: flex;
        flex-direction: row;
    }


    .number-filter {
        display: flex;
        flex-direction: row;
        margin-left: 10px;
    }

    .number-filter > input {
        width: 75px;
    }

    .sidebar {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: flex-start;
    }

    .sidebar > form {
        border: solid 1px gray;
        margin: 10px;
        padding: 15px;
        max-height: 440px;
    }

    .type-checkbox {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }

    .filter-title {
        font-size: 15px;
        margin-bottom: 10px;
        margin-top:10px;
        border-bottom: solid 1px cyan;
    }

    .search-button {
        width: 100%;
        color: whitesmoke;
        text-decoration: double;
        background: red;
    }
</style>